.scroller {
  display: flex;
  overflow: hidden;

  .scroller-inner {
    display: flex;
    font-size: 100px;
    text-transform: uppercase;
    width: max-content;

    div {
      display: flex;
      width: max-content;
      font-family: Open sans regular;
    }
  }
}
