.hero-section {
  width: 100vw;
  padding: 40px;

  .hero-title {
    font-size: 6rem;
    font-family: HatschSans;
    font-weight: inherit;
    line-height: 1;
    margin-bottom: 4rem;
  }

  .hero-image {
    width: 100%;
    border-radius: 10px;
  }
}
