.hero-section {
  width: 100vw;
  padding: 40px;

  .hero-title {
    font-size: 6rem;
    font-weight: inherit;
    line-height: 1;
    margin-bottom: 4rem;

    .sentence-wrapper {
      column-gap: 1.5rem;

      .word {
        span {
          font-family: HatschSans;
        }
      }
    }
  }

  .hero-image {
    width: 100%;
    border-radius: 10px;
  }
}
