.footer-container{
    width: 100%;
    min-height: 100vh;
    background-color: var(--footer-main-color);
    padding: 0.9rem;
    margin-top: 100px;
    font-family: Dortmund;
    
    .footer-text-container{
        color: white;
        // border: 1px solid white;
        font-size: 5.5rem;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1;
        .footer-first-container-item{
            display: flex;
            // justify-content: space-between;
            flex-direction: column;
            .text-first-item{
                text-align: left;
            }
            .text-second-item{
                text-align: right;
            }

        }

        .footer-second-text-item{
            display: flex;
            .text-first-item{
                text-align: left;
            }
            .text-second-item{
                text-align: right;
            }
            flex-direction: column;
        }
    }


    .footer-join-container{
        
        font-family: Dortmund;
        // background-color: red;
        color:white;
        font-weight: initial;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:120px 0;
        .join-text{
            font-size: 2rem;
            margin-bottom: 20px;
        }
        @media screen and (min-width: 360px){
            .join-text{
                font-size: 1.5rem;
            }
        }
        .join-button{
            width:90%;
            border: 2px solid white;
            padding: 15px 25px;
            text-align: center;
            font-size: 1.5rem;
        }
    }

    .footer-navigation{
        font-family:  Poppins regular;
        color: white;
        display: flex;
        margin: auto;
        flex-direction: column;
        font-weight: bold;
        .footer-navigation-content{
            display: flex;
            font-size: 1.2rem;

            .footer-navigation-item{
                margin: 20px;
                div{
                    text-align: left;
                    margin: 8px 0;
                }
            }
        }
        .footer-info{
            display: flex;
            justify-content: space-around;
            margin-top: 50px;
        }
    }
}