.nav-bar-container{
    width: 100%;
    font-family: Dortmund;
    .nav-bar-header{
        display: flex;
        // background-color: red;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        .logo-container{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20%;
            height: 50px;
                border: 1px solid black;
            img{
                // fenoina rehefa misy sary
            }
        }
        .menu-icon{
            
            .bar{
                height: 2px;
                width: 50px;
                background-color: var(--footer-main-color);
                margin: 10px 0;
                transition: 0.5s ease-in-out;
                opacity: 1;
            }
            .open{
                opacity: 0;
                position: absolute;
            }
        }
        
    }
    .nav-bar-content{
        background-color: var(--footer-main-color);
        height: 100vh;
        padding: 10px;
        .nav-bar-item{
            font-size: 50px;
            margin: 5px 0;
            padding: 1px;
            color:white;
            &:hover{
                color: #a19e9f;
            }
        }
        
        
       
    }
    
}
