.nav-bar-container{
    width: 100%;
    font-family: Dortmund;
    position: relative;
    .nav-bar-header{
        display: flex;
        // background-color: red;
        justify-content: space-between;
        align-items: center;
        transition: all 0.2s ease-in-out;
        padding: 10px 3vw;
        .logo-container{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20%;
            height: 50px;
            width: 50px;
            border-radius: 0.4rem;
            background-color: #010101;
                // border: 1px solid black;
            img{
                // fenoina rehefa misy sary
            }
        }
        .menu-icon{
            position: relative;
                width: 3.5rem ;
                z-index: 4;
                height: 3.5rem;
                
            .bar
            {
                height: 2px;
                position: absolute;
                width: 100%;
                left: 50%;
                top: 50%;
                transform-origin: left;
                transform: translate(-50%,-50%);
                background-color: var(--footer-main-color);
                transition: all 0.2s ease-in-out;
            }
            .up_
            {
                height: 1.5px;
                transform: rotate(45deg) translate(-50%,-50%);
                background-color: #a19e9f;
                width: 90%;
            }
            .down_
            {
                height: 1.5px;
                transform: rotate(-45deg) translate(-50%,-50%);
                background-color: #a19e9f;
                width: 90%;

            }
        }
        
    }
    .open_nav
    {
        background-color: var(--footer-main-color);
    }
    .nav-bar-content{
        background-color: var(--footer-main-color);
        height: 0;
        position: fixed;
        overflow: hidden;
        top: 0;
        left: 0;
        z-index: 3;
        display: flex;
        align-items: center;
        width: 100vw;
        padding: 0 10px;
        transition: all 0.32s ease-in-out;
        .list_
        {
            padding: 2vw 0 ;
            width: 100%;
            .nav-bar-item{
                font-size: 3.5rem;
                margin: 5px 0;
                width: 100%;
                padding: 1px;
                transition: opacity 0.8s ease-in-out,color 0.2s ease-in-out;
                font-family: Designer ;
                opacity: 0;
                transform: translateY(1rem);
                text-align: center;
                text-transform: uppercase;
                color:white;
                margin-bottom: 2rem;
                cursor: pointer;
                &:hover{
                    color: #a19e9f;
                }
            }
            .show{
                opacity: 1;
                transform: none;
            }
        }
       
    }
    .open_content
    {
        height: 100vh;

    }
    
}
